{:deps
 {:min-bb-version "0.4.0"
  :paths ["scripts"]
  :tasks
  {clean {:doc "Removes the target folder."
          :requires ([babashka.fs :as fs])
          :task (do (println "Removing target folder")
                    (fs/delete-tree "target"))}
   test {:doc "Calling a script main function"
         :task some-script/some-fun}}}}
