{:paths ["src"]
 :deps
 {funcool/promesa {:mvn/version "9.0.471"}
  metosin/reitit {:mvn/version "0.5.18"}
  metosin/sieppari {:mvn/version "0.0.0-alpha13"}}

 :aliases
 {:outdated {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}

